<% content_for :title, 'email sent' %>
<% content_for :section_title, 'Check Your Inbox' -%>

<p>An email containing instructions on how to reset your password was sent.</p>
<p>Please check your email (including your spam folder) in a few minutes.</p>

<% content_for :right do -%>
  <h3>Help Us Help You</h3>
  <p>We're not trying to scare you off, but mo&bull;ga&bull;de is currently in beta, which means bugs will happen.</p>    
  <p>We do take this seriously, we have a redundant infrastructure and make frequent off-site backups of your data.</p>
  <p>By being an early adopter you get to define our future, so don't hesitate to let us <a href="http://groups.google.com/group/mogadedev">know what you think</a>.
<% end -%>

