h3{font-size:1.2em;font-weight:bold;margin:5px 0 5px 0}
ol{margin-bottom:20px;}
li{line-height:1.3em;margin-bottom:5px;padding:5px;}
#content{overflow:auto;}
#content_dual{overflow:auto;background:url('../images/manage_back.png') repeat-y;}
#left{float:left;width:680px;}
#left h2{margin-bottom:20px;}
#right{float:right;width:220px;}
#error{text-align:center;border:1px solid #a77;background:#fdd;padding:10px 0;}

/* form stuff */
.field{margin-bottom:25px;position:relative;}
.field label{display:block;float:left;width:100px;margin-top:10px;padding-left:10px;}
.field label.tip{color:#aaa;width:300px;position:absolute;left:420px;top:0;}
.field label.error{display:block;position:absolute;top:27px;left:100px;width:400px;color:#f66;}
.field input, .field textarea{border:1px solid #ccc;padding:7px;width:300px;font-size:1.2em;}
.field input.error{border-color:#f66;}
.buttons{margin-left:110px;}
.button{cursor:pointer;border:1px solid #bbb;padding:6px 20px;color:#000;font-weight:bold;margin-right:10px;font-size:1em;
  background: #e6e6e6;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#ccc));
  background: -moz-linear-gradient(-90deg, #e6e6e6, #ccc);}
.button:hover{background:#ccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
  background: -moz-linear-gradient(-90deg, #ccc, #aaa);}
.links{margin-bottom:15px;}
.links a{margin-left:110px;display:block;padding:5px;}

.list h3{display:none;margin-bottom:25px;}
.list table{margin-bottom:25px;}
.list table{border-collapse:collapse;width:100%;}
.list th{text-align:left;font-weight:bold;border-bottom:1px solid #ddd;}
.list td, .list th{padding:10px;}
.list tr.over{cursor:pointer;background:#eee;}

ul.menu{list-style: none;padding:0;margin:0 0 30px 0}
ul.menu li{padding:0;margin:0;}
ul.menu a{display:block;padding:6px;cursor:pointer;border-bottom:1px solid #ddd;}
ul.menu a.active{font-weight:bold;}
ul.menu a:hover{background:#cfeeee;}


.info{margin-bottom:20px;}
.info h4{margin:0;color:#666;}
.info > div{color:#444;}