h3{font-size:1.2em;font-weight:bold;margin:5px 0 5px 0}
ol{margin-bottom:20px;}
li{line-height:1.3em;margin-bottom:5px;padding:5px;}
code{border: 1px solid #E6E6E6; background: #F0F0F0; padding: 1px 4px;}
#content{overflow:auto;}
#content_dual{overflow:auto;background:url('../images/manage_back.png') repeat-y;}
#left{float:left;width:680px;}
#left h2{margin-bottom:20px;}
#right{float:right;width:220px;}
#messages{position:relative;}
#error, #info{text-align:center;padding:10px 0;}
#messages.temp{position:absolute;width:960px;}
#messages.temp #error, #messages.temp #info{padding:3px 0;}
#error{border:1px solid #a77;background:#fdd;}
#info{border:1px solid #7a7;background:#dfd;}
#confirm, #confirmNone{margin-top:30px;display:none;}
#confirmNone{border:solid #faa;border-width:1px 0;padding:10px;}
#confirm > .buttons{margin-top:20px;}
#api h2{margin-bottom:3px;font-size:1.4em}
#api h3{margin-bottom:3px;font-size:1.1em;}
#api p{line-height:1.7em;}
#apimenu{position:fixed;width:220px;}
/* form stuff */
.field{margin-bottom:25px;position:relative;}
.field label{display:block;float:left;width:100px;margin-top:10px;padding-left:10px;}
.field label.tip{color:#aaa;width:300px;position:absolute;left:420px;top:0;display:none;}
.field label.error{display:block;position:absolute;top:27px;left:100px;width:400px;color:#f66;}
.field input{width:300px}
.field input, .field textarea{border:1px solid #ccc;padding:7px;font-size:1.2em;}
.field input.error{border-color:#f66;}
.field input.cb{width:20px;position:relative;top:7px;}
.field select{margin-top:8px;}
.field .charCounter{font-size:0.8em;color:#999;position:absolute;top:30px;left:10px;}
.buttons{margin-left:110px;}
.button{cursor:pointer;border:1px solid #bbb;padding:6px 20px;color:#000;font-weight:bold;margin-right:10px;font-size:1em;
  background: #e6e6e6;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#ccc));
  background: -moz-linear-gradient(-90deg, #e6e6e6, #ccc);}
.button:hover{background:#ccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
  background: -moz-linear-gradient(-90deg, #ccc, #aaa);}
.links{margin-bottom:15px;}
.links a{margin-left:110px;display:block;padding:5px;}
.inline{border:1px solid #ccc;padding:2px;}
input.short{width:150px;padding:2px 7px;}

.list h3{display:none;margin-bottom:25px;}
.list table{margin-bottom:25px;}
.list table{border-collapse:collapse;width:100%;}
.list th{text-align:left;font-weight:bold;border-bottom:1px solid #ddd;}
.list td, .list th{padding:10px;}
.list tr.over{cursor:pointer;background:#eee;}
.list td.c, .list th.c{text-align:center;}
.list td.delete{background:url('../images/delete.png') 0 10px no-repeat;width:16px;cursor:pointer;}
.list td.edit{background:url('../images/edit.png') 0 10px no-repeat;width:16px;cursor:pointer;}

ul.menu{list-style: none;padding:0;margin:0 0 30px 0}
ul.menu li{padding:0;margin:0;}
ul.menu a{display:block;padding:6px;cursor:pointer;border-bottom:1px solid #ddd;}
ul.menu a.active{font-weight:bold;}
ul.menu a:hover{background:#cfeeee;}
ul.menu ul li{border-bottom:1px solid #ddd;}
ul.menu ul a{margin-left:10px;border-bottom:none;}

.info{margin-bottom:20px;}
.info h4{margin:0;color:#666;}
.info > div{color:#444;}

h4{font-weight:bold;}
.downloadlist{margin-bottom:20px;}
.downloadlist li{margin:0 0 0 10px;}

#error_list{width:100%;}
#error_list tr.nodesc td{cursor:pointer;}
#error_list tr.desc{border-bottom:1px solid #e6e6e6;}
.pager {margin-top:20px;overflow:auto;position:relative;}
.pager a {float:left;display:block;margin-right:10px;border:1px solid #eee;padding:10px;}
.pager a:hover{background:#cff;}
.pager a.active{border-color:transparent;font-weight:bold;}
.pager .total{position:absolute;right:5px;top:6px;font-weight:bold;}

#scores{display:none;}

#imageList{overflow: auto;}
#imageList > div{float:left;width:156px;margin-right:10px;height:250px;}
#imageList img {border:1px solid #eee;}
#bannerImage{margin:40px 0;}
#bannerImage img {display:block;margin-bottom:2px;}
#bannerImage .button, #imageList .button{display:inline;position:relative;top:8px;}
#bannerImage .uploading, #imageList .uploading{background-image:url('../images/loading.gif');background-repeat:no-repeat;}
#bannerImage .deleteButton, #imageList .deleteButton{color:#933;border:1px solid #caa;left:-25px;padding:6px 5px;}

div.game_profile {width:420px;float:left;border:1px solid #f6f6f6;padding:10px;margin:5px;height:225px;}
div.game_profile div.meta{float:left}
div.game_profile .about{clear:both;}
div.game_profile div{padding:5px 0;}
div.game_profile label{font-weight:bold;}