body{font-family:verdana,tahoma,arial;font-size:75%;background:#fff;}
p{line-height:1.5em;}
h1{font-weight:bold;font-size:1.3em;}
h2{font-weight:bold;font-size:1.1em;}
a{color:#3B5998;}
#environment{position:absolute;width:200px;text-align:center;padding:10px 0;background:#822;color:#fff;}
#site{width:760px;margin:0 auto;overflow:visible;}
#banner{display:block;margin-bottom:10px;padding-bottom:10px;}
#info{overflow:auto;margin-bottom:20px;}
#desc{float:left;margin:5px 0;width:525px;padding-right:15px;border-right:1px solid #eee;}
#more{font-weight:bold;}
#facts{margin-left:555px;}
#facts > div{margin:10px 0;}
#facts label{font-weight:bold;}
#thumbs img{padding:0 10px 10px 10px}