<% content_for :title, 'your games' -%>
<% content_for :section_title, 'Manage Your Games' -%>

<div class="list" id="game_list">
<table>
 <thead>
   <th>name</th>
   <th>key</th>
 </thead>
 <tbody class="list">
   <%= render :partial => 'game_row', :collection => @games, :as => :game unless @games.blank?%>
 </tbody>
</table>
<h3>You don't have any games.</h3>
</div>

<h3>Important Notice</h3>
<p>All things must come to an end, and so it is with Mogade.</p>
<p>Running mogade has been a great experience, and hopefully we've managed to help developers. But when you combine Microsoft's poor performance, the fact that many alternatives exist, and our changing focus, it's just the right decision for us to make.</p>
<p>Existing games and accounts will continue to be supported</p>

<% content_for :js do -%>
$('#game_list').simpleList({viewUrl: '<%= ssl_url('/manage/games') %>'});
var rules = <%= validation_of(Game).html_safe%>;	
$('#add').validator({rules: rules});
<% end -%>

<% content_for :right do -%>
  <h3>What's New</h3>
  <p>Welcome to Version 2 of mogade. While not much might have seemed to change, we did <a href="http://github.com/mogade/">open source</a> and rewrite most of the mogade.com service.</p>
<% end -%>
