<% content_for :title, 'helping you build great games' -%>
<% content_for :head do %><%= stylesheet_link_tag 'home' %><% end -%>

<% content_for :content do -%>
<div id="homeWrap" class="r">
  <div id="home">
    <%=image_tag('catch.png', {:size => '457x24', :alt=>'Free Solutions for Casual Game Developers'})%>
    <p>Mogade offers a free and simple to use leaderboard and achievement services for mobile game developers. Manage your game online and integrate our open source libraries in your code, it's that easy. Focus on your game, let us worry about the other stuff. <a href="/manage/faq">Learn more</a></p>
  </div>
  <div class="buttons">
    <a href="/who">see who's using mogade.com! &raquo;</a>
  </div>
</div>
<div id="steps">
  <h2>Why Choose Mogade?</h2>
  <div class="step">
    <h3>It's always free</h3>
    <p>Whether you charge for your games or not, mogade.com is free (and easy) to use. We do this because we love gaming and learning.</p>
  </div>
  <div class="step">
    <h3>We're open source</h3>
    <p>Not only are our drivers open source, but so too is the mogade.com website and service. Help us get better, host your own, or focus on creating great games.</p>
  </div>
  <div class="step">
    <h3>Invisible</h3>
    <p>Your users never need to know anything about mogade. There's no branding or other silly requirements.</p>
  </div>
  <div class="step">
    <h3>Features</h3>
    <p>We offer more than just leaderboards. With mogade you get real time stats, achievements, logging, javascript leaderboards, twitter integration and facebook pages.</p>
  </div>
  <div id="try">
    <a href="/manage/accounts/new">try it out, it's completely free! &raquo;</a>
  </div>
</div>
<% end -%>