<% unless scores.nil? || scores.count == 0 -%>
<div>
  <h3><%= name %></h3>
  <ul>
    <% scores.each do |score| -%>
    <li><%=score[:username]%> <span><%= score[:points]%></span></li>
    <% end -%>
  </ul>
</div>
<% end -%>