<% content_for :title, @profile.name + ' leaderboards' -%>
<% unless @profile.images.nil? || @profile.images[0].nil?%><img id="banner" src="<%= profile_image(@profile, 0)%>" /><% end %>

<div id="leaderboard">
</div>

<% content_for :js do -%>
var baseUrl = '<%= request.local? ? 'http://' + request.host_with_port : 'http://mogade.com'%>';
$('#leaderboard').leaderboard({lids: <%=leaderboard_selection_array(@leaderboards, @profile.leaderboard_id)%>, baseUrl: baseUrl + '/api/gamma/scores/'});
<% end -%>