<% content_for :title, 'registration' -%>
<% content_for :section_title, 'Changes' -%>

<p>All things must come to an end, and so it is with Mogade.</p>

<p>Running mogade has been a great experience, and hopefully we've managed to help developers. But when you combine Microsoft's poor performance, the fact that many alternatives exist, and our changing focus, it's just the right decision for us to make.</p>

<p>Existing games and accounts will continue to be supported</p>