<% content_for :title, 'email sent' %>
<% content_for :section_title, 'One More Step'%>
<h2>Email Sent With Additional Instructions</h2>
<p>An email containing instructions on how to reset your password was sent. Please check your email (including your spam folder) in a few minutes.</p>