<% content_for :title, 'platform libraries' -%>
<% content_for :section_title, "Platform Libraries" -%>

<p>The official libraries used to access mogade are available on <a href="http://github.com/mogade/">github</a>. They are licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 license</a>, and we hope developers will help us by contributing fixes, enhancement and even new drivers</p>

<p>For assistance with using or writing libraries, to use <a href="http://groups.google.com/group/mogadedev">google groups</a>.</p>

<h4>Platform Libraries</h4> 
<ul class="downloadlist"> 
  <li><a href="http://github.com/mogade/mogade-windowsphone">Windows Phone</a></li> 
  <li><a href="http://github.com/mogade/mogade-android">Android Devices</a></li> 
</ul>

<h2>API Overview</h2>

<p>Mogade is uses JSON over a REST API. You can read more on the <a href="/manage/api">api page</a><p>