<% content_for :title, 'faq' -%>
<% content_for :section_title, "Things you might be wondering about" -%>

<h3>What is mogade?</h3>
<p>Mogade is a free service targeted at casual game developers, which aims to make it easy to add leaderboards and achievements to their game. mogade.com is where developers configure their games. The <a href="http://www.github.com/mogade">open source client libraries</a> are easily integrated into your existing or new game and communicate with our servers.</p>

<p>Mogade's been around for a short time, we've built a close relationship with game developers and currently power roughly 75 games.</p>

<h3>What makes mogade different?</h3>
<p>Mogade is free and <a href="http://github.com/mogade">open sourced</a>. You can run your own mogade.com service on your own servers, fork the codebase to implement whatever changes you need, and contribute back to mogade any way you like. Or you can use the free mogade.com service and the open source drivers to quickly get up and running and focus on your game, while we focus on the rest.</p>

<p>Our goal is to support all popular platforms, meaning as you port your game, you'll get to deal with a familiar API. We are young, but as we move forward we plan on offering more services that developers can hook into. Where other companies have stopped with leaderboards and achievements, this is where we start. Also, our client libraries are unobtrusive.</p>

<p>We see our relationship with game developers as a partnership. We want to build a future on openness, honesty and genuine enthusiasm for casual and mobile gaming.</p>

<h3>Who are you?</h3>
<p>The team that put mogade together has a diverse development and gaming background. We worked together a few years back at a leading advergaming studio. We've built a lot of leaderboards and casual games.</p>
   
<h3>Is mogade's infrastructure reliable?</h3>
<p>We take this seriously. As our needs grow, so too will our infrastructure. We have multiple server redundancy, we are hosted at a first class facility, and we have hourly remote backups. We're the part of the game we don't want you to worry about.</p>

<h3>Why are you doing this?</h3>
<p>Inevitably, we get asked why? Why build mogade? Why make it for free? Why open source it? Ultimately, we believe in gaming, and we believing in the casual gaming revolution brought about by new devices. We grew up on video games and we want to do our little part to make sure others get the same benefit.</p>

<p>It currently costs roughly $175/month to run mogade on redundant hardware. It's a manageable expense. It has been a great learning experience.</p>

<h3>Who's using mogade.com?</h3>
<p>You can see a list of some of the games using mogade.com <a href="/who">here</a>.</p>