<% content_for :title, 'terms of use' -%>
<% content_for :section_title, "Them's The Rules" -%>

<h3>Basic Terms</h3>
<ol>
  <li>You must be 13 years or older to use this site.</li>
  <li>You are responsible for keeping your password secure.</li>
  <li>You may not use the mogade.com service for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.</li>
  <li>You must not, in the use of mogade, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
</ol>

<h3>General Conditions</h3>
<ol>
  <li>We reserve the right to alter these Terms of Use at any time.</li>
  <li>We reserve the right, in accordance with any applicable laws, to refuse service to anyone for any reason at any time.</li>
  <li>We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Use.</li>
 <li>We reserve the right to modify or terminate the mogade.com service for any reason, with fair (2 or more months) notice at any time.</li>
</ol>

<h3>Service Terms</h3>
<ol>
  <li>You may not circumvent any limitations imposed by mogade.com</li>
  <li>You may not make any changes to the mogade client libraries</li>
  <li>We make no guarantees about the availability of mogade.com</li>
</ol>
<p><em>Violation of any of these agreements will result in the termination of your mogade.com account.</em></p>

<% content_for :right do -%>
  <h2>Respect</h2>
  <p>We'd like to think of ourselves as common-sense kinda people. We respect and appreciate the work you do. We hope that you'll respect and appreciate the work we do.</p>           
  <p>We aren't perfect. We are going to make mistakes. Our commitment to you is that we'll admit it, work hard at fixing what we did wrong and forge ahead.</p>                
<% end -%>
