/*
 *= require_self
*/
div.calendarWrap{position:relative;z-index:2;}
div.calendar{border:1px solid #e6e6e6;overflow:auto;width:400px;background:#f0f0f0;position:absolute;line-height:1em;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px-moz-user-select:none;-webkit-user-select: none;-khtml-user-select: none;user-select: none;}
div.calendar div.nav{height:24px;}
div.calendar div.nav div{cursor:pointer;background:#e6e6e6;width:25px;padding:7px 0;height:15px;text-align:center;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-weight:bold;}
div.calendar div.nav div.next{position:absolute;right:0;top:0}
div.calendar div.nav div:hover{background:#d6d6d6;}
div.calendar table{border-collapse:separate;float:left;margin:0 20px;font-family:verdana;font-size:80%;position:relative;top:-20px}
div.calendar table td{padding:3px;text-align:center;cursor:pointer;border:1px solid transparent;}
div.calendar td.selected{border:1px dotted #222;}
div.calendar td.highlight{background:#ccc;}
#graph{margin:20px 0;}
#legend td{padding:10px;}
#date{padding:5px;width:250px;border:1px solid #aaa;}
#reportTip{position:absolute;background:#fff;padding:5px;border:1px solid #eee;}
#raw{width:100%;margin-top:20px;margin-bottom:20px;}
#raw td, #raw th{text-align:center;}
