<% content_for :title, @game.name + ' errors' -%>
<% content_for :section_title,  @game.name + ' .. errors' -%>

<% if @count == 0%>
  <h3>No errors have been logged</h3>
<% else %>
  <table id="error_list" class="list">
    <thead>
      <th>subject</th>
      <th>first seen</th>
      <th>last seen</th>
      <th>times</th>
      <th></th>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div class="pager" id="error_list_pager"></div>

  <% content_for :js do -%>
  var $tbody = $('#error_list').pagedList
  ({
    total: <%= @count %>,
    dataUrl: '<%= url_for :action => 'list', :id => @game.id %>',
    loaded: function($tbody)
    {
      $tbody.children(':odd').hide().addClass('desc');
      $tbody.children(':even').addClass('nodesc');
    }
  }).find('tbody');

  $tbody.delegate('tr:even td:not(.delete)', 'click', function()
  {
    $(this).parent().toggleClass('active').next().toggle();
  }).confirm('td.delete', 'Delete this error?', 'This error will be permanently deleted and cannot be recovered. Are you sure?', function($td){ return do_delete('/manage/errors/' + $td.closest('tr').data('id') + '?game_id=<%=@game.id%>'); });
  <% end %>
<% end %>

<% content_for :right do -%>
  <%= render :partial => 'shared/menu' %>
<% end -%>
